div#section_filter {
    margin-top: 15px;
}

div#category_filter {
    margin-top: 15px;
}

div#brand_filter {
    margin-top: 15px;
}

div#banner_filter {
    margin-top: 15px;
}

div#products_filter {
    margin-top: 15px;
}
div#filters_wrapper {
    margin-top: 15px;
}


.swal2-icon.swal2-warning.swal2-icon-show {
    margin-top: 20px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
    height: 35px;
}
